<p id="notice"><%= notice %></p>

<p>
  <b>Publicacion:</b>
  <%= @especial_news.publicacion_id %>
</p>


<%= link_to 'Edit', edit_especial_news_path(@especial_news) %> |
<%= link_to 'Back', especial_news_path %>
