<center><h1>Kiosco Lab</h1></center>
<br />
<br />
<center><h2>Bienvenido Al sistema de Administracion de KioscoLab<br /> Porfavor ingresa tus datos</h2></center>
<center><div class="hero-unit" style="width:600px">
	<img alt="Imagen inicio" width="200" height="250"  src="../blason.png" align="left"></img>
	<%= render 'form' %>
	<br />
	<br />
	<br />
	<div id="FOOTER">
    <div class="creditos">Facultad de Ingeniería<br/>Circuito Universitario Campus II
		<br /> Tels. (614) 442-9500 
		<br /> Chihuahua, Chih., México<br/>
	</div>
</div>
</div>
</center>
<br />
<br />
<br />


